<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery</title>
    <link rel="stylesheet" href="./assets/cs/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="main-container">
        <div class="header-container">
            <header class="d-flex justify-content-between">
                <div class="nav-left ps-5">
                    <div class="co-img">
                        <img src="./assets/images/Screenshot 2022-10-18 153617.jpg" alt="">
                    </div>
                </div>
                <div class="nav-right d-flex align-items-center pe-5">
                    <nav>
                        <ul class="d-flex">
                            <li>Home</li>
                            <li>Order</li>
                            <li>Company</li>
                            <li>FAQ</li>
                            <li>Contact</li>
                            <li><a href="#"><i class="bi bi-cart"></i></a></li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>    
            <div class="row">
                <div class="col-6 mb-5">
                    <div class="left-intro">

                        <h3>Beautiful food & takeaway, <span class="HL">delivered</span> to your door.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis quaerat voluptatem dignissimos fugit, ab enim maxime molestias voluptatum, necessitatibus delectus cupiditate.</p>
                        <div class="btn p-0 pt-5">
                            <button><a href="#">Place an Order</a></button>
                        </div>
                        <div class="rate d-flex flex-column pt-5">
                            <span><i class="bi bi-star-fill"></i>Trustpilot</span>
                            <span><span class="HL">4.8 out of 5</span>based on 2000+ reviews</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 left-intro mb-5">
                    <div class="app img">
                        <img src="./assets/images/5e865e09d8efa395f376b5c1_Hero Image.png" alt="">
                    </div>
                </div>
                <div class="col-6 mt-5 mb-5">
                    <div class="left-intro">
                        <h2>
                            <span>The home of</span>
                            <span>Fresh products</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quae nihil consequatur laudantium officia, fugit quisquam ipsam, ratione dolorem non ut? Laboriosam rem, tenetur accusamus dolorem iure neque perspiciatis quia!</p>
                        <div class="btn p-0 pt-5">
                            <button><a href="#">Learn about us</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-5 mb-5">
                    <div class="img-2 me-0">
                        <img src="./assets/images/photo-1568901839061-11e2837cd2b7.jpg" alt="">
                        <div class="heart">
                            <img src="./assets/images/26a8a71b11195e987ac916cce0deca8d.jpg" alt="">
                        </div>
                        <div class="salad">
                            <img src="./assets/images/close-up-1854245_1920.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 works mt-5 mb-5 p-0 d-flex justify-content-center">
                    <h2>How it works.</h2>
                </div>
                <div class="col-4 mb-5 p-0 pe-0 d-flex flex-column align-items-center">
                    <div class="pick-items">
                        <img src="./assets/images/australia-restaurant-16460432513x2.jpg" alt="">
                        <div class="added">
                            <a href="#"><i class="bi bi-basket2"></i></a>
                        </div>
                    </div>
                    <div class="about d-flex flex-column align-items-center">
                        <h3>Adapt your menu items</h3>
                        <span>Easily adapt your menu using the</span>
                        <span>webflow CMS and allow</span>
                        <span>customers to browse your items.</span>
                    </div>
                </div>
                <div class="col-4 mb-5 p-0 pe-0 d-flex flex-column align-items-center">
                    <div class="online">
                        <img src="./assets/images/pexels-photo-3949098.jpg" alt="">
                        <div class="google">
                            <a href="#"><i class="bi bi-google"></i></a>
                        </div>
                        <div class="apple">
                            <a href="#"><i class="bi bi-apple"></i></a>
                        </div>
                    </div>
                    <div class="about d-flex flex-column align-items-center">
                        <h3>Accepts online orders and takeout</h3>
                        <span>Let your customers order & pay</span>
                        <span>via the powerfull ecommerce system</span>
                        <span>or simple let them call your store.</span>
                    </div>
                </div>
                <div class="col-4 mb-5 p-0 pe-0 d-flex flex-column align-items-center">
                    <div class="delivery">
                        <img src="./assets/images/1000_F_213188286_f7fan3apgJkgDq9sMuHbNBe6erI5VbS1.jpg" alt="">
                    </div>
                    <div class="about d-flex flex-column align-items-center">
                        <h3>Manage delivery or takeout</h3>
                        <span>Manage your logistics and</span>
                        <span>take order simply through the</span>
                        <span>ecommerce system.</span>
                    </div>
                </div>
                <div class="col-12 mt-5 mb-5 d-flex flex-column align-items-center browse">
                    <h3>Browse our menu</h3>
                    <span>Use our menu to place order online, or phone our store</span>
                    <span>to place a pickup order. Fast and fresh food.</span>
                    <div class="btns d-flex pt-5">
                        <div class="simple-btn">
                            <button><a href="#">Burgers</a></button>
                        </div>
                        <div class="simple">
                                <button><a href="#">Slides</a></button>
                                <button><a href="#">Drinks</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-5  card d-flex flex-row">
                    <div class="burger ps-4 ">
                        <img src="./assets/images/6154e8e2facb265262f52974_Burger 03.png" alt="">
                    </div>
                    <div class="about-it ps-4">
                        <div class="name-price pb-3 d-flex justify-content-between">
                            <h4>Burger Dreams</h4>
                            <span>$ 9.20 USD</span>
                        </div>
                        <div class="dissc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Error hic maxime atque dolorum magni ipsam?</p>
                        </div>
                        <div class="QB d-flex">
                            <div class="quantity">
                                <span class="d-flex align-items-center justify-content-center">1</span>
                            </div>
                            <div class="add-btn ps-2">  
                                <button><a href="#">Add to card</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-5  card d-flex flex-row">
                    <div class="burger ps-4 ">
                        <img src="./assets/images/6154e8e2facb265262f52974_Burger 03.png" alt="">
                    </div>
                    <div class="about-it ps-4">
                        <div class="name-price pb-3 d-flex justify-content-between">
                            <h4>Burger Dreams</h4>
                            <span>$ 9.20 USD</span>
                        </div>
                        <div class="dissc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Error hic maxime atque dolorum magni ipsam?</p>
                        </div>
                        <div class="QB d-flex">
                            <div class="quantity">
                                <span class="d-flex align-items-center justify-content-center">1</span>
                            </div>
                            <div class="add-btn ps-2">  
                                <button><a href="#">Add to card</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-5  card d-flex flex-row">
                    <div class="burger ps-4 ">
                        <img src="./assets/images/6154e8e2facb265262f52974_Burger 03.png" alt="">
                    </div>
                    <div class="about-it ps-4">
                        <div class="name-price pb-3 d-flex justify-content-between">
                            <h4>Burger Dreams</h4>
                            <span>$ 9.20 USD</span>
                        </div>
                        <div class="dissc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Error hic maxime atque dolorum magni ipsam?</p>
                        </div>
                        <div class="QB d-flex">
                            <div class="quantity">
                                <span class="d-flex align-items-center justify-content-center">1</span>
                            </div>
                            <div class="add-btn ps-2">  
                                <button><a href="#">Add to card</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-5  card d-flex flex-row">
                    <div class="burger ps-4 ">
                        <img src="./assets/images/6154e8e2facb265262f52974_Burger 03.png" alt="">
                    </div>
                    <div class="about-it ps-4">
                        <div class="name-price pb-3 d-flex justify-content-between">
                            <h4>Burger Dreams</h4>
                            <span>$ 9.20 USD</span>
                        </div>
                        <div class="dissc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Error hic maxime atque dolorum magni ipsam?</p>
                        </div>
                        <div class="QB d-flex">
                            <div class="quantity">
                                <span class="d-flex align-items-center justify-content-center">1</span>
                            </div>
                            <div class="add-btn ps-2">  
                                <button><a href="#">Add to card</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-5  card d-flex flex-row">
                    <div class="burger ps-4 ">
                        <img src="./assets/images/6154e8e2facb265262f52974_Burger 03.png" alt="">
                    </div>
                    <div class="about-it ps-4">
                        <div class="name-price pb-3 d-flex justify-content-between">
                            <h4>Burger Dreams</h4>
                            <span>$ 9.20 USD</span>
                        </div>
                        <div class="dissc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Error hic maxime atque dolorum magni ipsam?</p>
                        </div>
                        <div class="QB d-flex">
                            <div class="quantity">
                                <span class="d-flex align-items-center justify-content-center">1</span>
                            </div>
                            <div class="add-btn ps-2">  
                                <button><a href="#">Add to card</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-5  card d-flex flex-row">
                    <div class="burger ps-4 ">
                        <img src="./assets/images/6154e8e2facb265262f52974_Burger 03.png" alt="">
                    </div>
                    <div class="about-it ps-4">
                        <div class="name-price pb-3 d-flex justify-content-between">
                            <h4>Burger Dreams</h4>
                            <span>$ 9.20 USD</span>
                        </div>
                        <div class="dissc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Error hic maxime atque dolorum magni ipsam?</p>
                        </div>
                        <div class="QB d-flex">
                            <div class="quantity">
                                <span class="d-flex align-items-center justify-content-center">1</span>
                            </div>
                            <div class="add-btn ps-2">  
                                <button><a href="#">Add to card</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
    </div>
    





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>