<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trevland</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="home">
        <div class="back-img">
          <img
            src="./assets/images/03fe2374e6453f1e1f7be3a98ebf53fb.jpeg"
            alt=""
          />
        </div>
        <div class="top">
          <h2>Trevland</h2>
          <div class="navbar">
            <nav>
              <ul>
                <li>Home</li>
                <li>Location</li>
                <li>Blog</li>
                <li>About</li>
                <li>Contact</li>
              </ul>
            </nav>
          </div>
          <div class="book-btn">
            <button><a href="">Booking now</a></button>
          </div>
        </div>

        <div class="bottom">
          <div class="about">
            <span>Railtrips To Here,</span>
            <span>There and Everywhere</span>
          </div>
          <div class="discrip">
            <p>
              We all wish to start our year the best way possible and <br />
              also according to a common belief if you have a great <br />
              start to your.
            </p>
          </div>
          <div class="explore-btn">
            <button><a href="">Explore more</a></button>
          </div>
        </div>
      </div>
      <!-- /* ////////LOCATION PAGE //////////// */ -->
      <div class="location">
        <div class="popular">
          <h2>Popular Location</h2>
          <span
            >For every one of us, travel came first. We've spend years living as
            nomads. pioneers, and</span
          >
          <span>voyagers-from island hopping in the</span>
        </div>

        <div class="places">
          <div class="place-1">
            <div class="istanbul-img">
              <img
                src="./assets/images/0c4ca333e44f524eab93513c6b654f76.png"
                alt=""
              />
            </div>
            <div class="about-istanbul">
              <h2>Istanbul, Turkey</h2>
              <span>Istanbul is a major city in Turkey that</span>
              <span>straddles Europe</span>
            </div>
          </div>
          <div class="place-2">
            <div class="malasia-img">
              <img
                src="./assets/images/0df00a9fb8e5214adb49a9af67067cc9.png"
                alt=""
              />
            </div>
            <div class="about-malasia">
              <h2>Kuala Lumpur, Malasia</h2>
              <span>A 272 step long trek leads you to</span>
              <span>this centry</span>
            </div>
          </div>
          <div class="place-3">
            <div class="korea-img">
              <img
                src="./assets/images/4ae7f4d9ed135fbcbd0d9360291c9227.png"
                alt=""
              />
            </div>
            <div class="about-korea">
              <h2>Istanbul, Turkey</h2>
              <span>Istanbul is a major city in Turkey that</span>
              <span>straddles Europe</span>
            </div>
          </div>
        </div>
      </div>
      <div class="offers">
        <div class="off">
          <h2>Special Offers</h2>
          <span
            >With the New Year comes a refreshing sense of wonderlust, alonging
            in our souls</span
          >
          <span>to scape a warmer climates</span>
        </div>
        <div class="cities">
          <div class="city">
            <div class="city-img">
              <img
                src="./assets/images/c9a99e7f85d39bea3214c8a26cb86d79.jpeg"
                alt=""
              />
            </div>
            <div class="about-city">
              <h2>Statue of Liberty</h2>
              <div class="ratings">
                <span>New York</span>
                <span>4.8</span>
              </div>
              <span>4 Days 5 Nights</span>
              <span>$450/person</span>
            </div>
          </div>
          <div class="city">
            <div class="city-img">
              <img
                src="./assets/images/ef9316e4726658eac01805560f43074c.jpeg"
                alt=""
              />
            </div>
            <div class="about-city">
              <h2>The Great Wall</h2>
              <div class="ratings">
                <span>China</span>
                <span>4.9</span>
              </div>
              <span>7 Days 8 Nights</span>
              <span>$850/person</span>
            </div>
          </div>
          <div class="city">
            <div class="city-img">
              <img
                src="./assets/images/8f4a9a569fa8cc5fd51c2a8222f0e3b8.jpeg"
                alt=""
              />
            </div>
            <div class="about-city">
              <h2>Dizin</h2>
              <div class="ratings">
                <span>Iran</span>
                <span>4.6</span>
              </div>
              <span>5 Days 6 Nights</span>
              <span>$550/person</span>
            </div>
          </div>
          <div class="city">
            <div class="city-img">
              <img
                src="./assets/images/f98684b5e89f7f565021d191e13ee97b.png"
                alt=""
              />
            </div>
            <div class="about-city">
              <h2>Sazek Valley</h2>
              <div class="ratings">
                <span>Bangladesh</span>
                <span>4.7</span>
              </div>
              <span>3 Days 4 Nights</span>
              <span>$400/person</span>
            </div>
          </div>
          <div class="city">
            <div class="city-img">
              <img
                src="./assets/images/5eaefc769649c0138fb1f7c31898cda5.jpeg"
                alt=""
              />
            </div>
            <div class="about-city">
              <h2>Osaka Castle</h2>
              <div class="ratings">
                <span>Japan</span>
                <span>4.7</span>
              </div>
              <span>4 Days 5 Nights</span>
              <span>$700/person</span>
            </div>
          </div>
        </div>
      </div>
      <div class="blogs">
        <div class="blogging">
          <h2>From Blogs and New</h2>
          <span
            >Welcome to community conversations, a new interview series
            featuring</span
          >
          <span
            >Intrepids travellers, creatives and activities in our
            community</span
          >
        </div>
        <div class="place-blog">
          <div class="place-review">
            <div class="images">
              <img
                src="./assets/images/c8de34d208308843a6d1e3b6438c0180.jpeg"
                alt=""
              />
            </div>
            <div class="review">
              <h3>Banff National Park</h3>
              <span
                >Banff National Park lies in the heart of the majectic
                Rocky</span
              >
              <span>Mountains in the province of alberta, and showcases</span>
              <span>some of Canada's most beatiful scenery</span>
              <span
                >Turqoise-colored lakes, snow-capped peaks, and glaciers</span
              >
              <span>are all easily accessable/</span>
              <h3>@thomasalva adision</h3>
            </div>
          </div>
          <div class="all-place">
            <div class="other-reviews">
              <div class="re-image">
                <img
                  src="./assets/images/cf3db1f4b542c0be2f7b17f1d267663d.jpeg"
                  alt=""
                />
              </div>
              <div class="about-img">
                <h3>The Hiroshima Peace!</h3>
                <span>It was formally opened to the</span>
                <span>public in August that year.</span>
                <h3>@shova_bd88</h3>
              </div>
            </div>
            <div class="other-reviews">
              <div class="re-image">
                <img
                  src="./assets/images/3c181500cb8aee6defbed818f64c0c5e.jpeg"
                  alt=""
                />
              </div>
              <div class="about-img">
                <h3>The Faithfull prayers!</h3>
                <span>A major pilgrimage center for</span>
                <span>hindus, the holy city.</span>
                <h3>@adem/smith</h3>
              </div>
            </div>
            <div class="other-reviews">
              <div class="re-image">
                <img
                  src="./assets/images/1826effe83ef7e1277f123aa204e398d.jpeg"
                  alt=""
                />
              </div>
              <div class="about-img">
                <h3>Colourfull waters!</h3>
                <span>Forest-driven water and energy</span>
                <span>cucles and poorly.</span>
                <h3>@jhon7leew</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <footer>
          <div class="contact">
            <h2>Trevland</h2>
            <span>contact us</span>
            <span>@shovasathkhira88.com</span>

          </div>
          <div class="co-details">
            <span>Services</span>
            <span>About</span>
            <span>Our stories</span>
            <span>Benefits</span>
            <span>Branding</span>
          </div>
          <div class="terms">
            <span>Legal</span>
            <span>Terms & Conditions</span>
            <span>Privacy Policy</span>
            <span>Terms & Use</span>
          </div>
          <div class="email">
            <h3>SUBSCRIBE NOW</h3>
            <div class="mail">
              <div class="msg">
                <input type="email" name="" id="" placeholder="Email">
              </div>
              <div class="btn">
                <button>Send</button>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
