<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div class="nav-left">
                    <div class="logo-img">
                        <img src="./assets/images/logo.jpg" alt="">
                    </div>
                </div>
                <div class="nav-right">
                    <ul>
                        <li>About us</li>
                        <li>Jobs at GM</li>
                        <li>Students & Grads</li>
                        <li>Location</li>
                        <li>Join our Talent Community</li>
                        <div class="saved">
                            <img src="./assets/images/free-heart-icon-3510-thumb.png" alt="">
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="row">
            <div class="col-md-12 header-btm">
                <ul>
                    <li>HOME ></li>
                    <li>Jobs ></li>
                    <li>BrightDrop - Senior Electrical Engineer</li>
                </ul>
            </div>
            <div class="col-md-12 company-part">
                <div class="co-img">
                    <div class="written-part">
                        <h1>
                            BrightDrop - Senior Electrical Engineer
                        </h1>
                        <p>
                            <a href="#"><i class="fa-solid fa-location-dot"></i>Palo Alto / Remote</a>
                            <a href="#"><i class="fa-thin fa-suitcase"></i>Engineering</a>
                            <a href="#"><i class="fa-regular fa-clock"></i>Full Time</a>
                            <a href="#"><i class="fa-solid fa-calendar-days"></i>Added Friday, September 16, 2022</a>
                            <span># JR-000080754</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row discrip-container">
            <div class="col-md-8 p-4 discription">
                <h3>Description</h3>
                <p>At BrightDrop, we are reshaping e-commerce by developing smarter, greener, and more efficient ways to deliver goods and services to your door, while delivering a brighter future for the cities where we live. We are building an ecosystem of all-electric, zero-emissions delivery solutions – from electric vehicles, to the Trace and software that demonstrates real-time data to drive intelligent optimizations for e-commerce.</p>
                <p>To deliver on our mission we are growing fast and building a team, based in Palo Alto, with offices in Atlanta and Detroit, that is customer-focused, agile and passionate about innovating for a more sustainable future.  From engineering to product management and operations, BrightDrop is looking for people who can combine a passion for technology and sustainability with high doses of curiosity and meticulous thinking to deliver a better future for generations to come. </p>
                <p>Backed by General Motors, BrightDrop is striving to improve the communities where we live! We currently have rare opportunities to join a fast-growing team in early stages of design, and to have a real impact on the products, technologies and work processes.</p>
                <span>The Role:</span>
                <p>Senior Electrical Engineers to own and lead design and development of electronic sub-systems and modules, such as communications, processing, sensory, propulsion, power, etc.</p>
                <p>Would you like to have a meaningful impact on the product and on the technology behind it? Do you know how to make things better, and have the passion and drive to go for it? Are you hoping for an engineering playground where you can ignite your creativity? If so, we’re looking for YOU!</p>
                <span>Responsibilities</span>
                <ul>
                    <li>
                        <p>Design and develop electronic subsystems, modules and custom PCBs where needed. Fully own all development cycle from concept and evaluation through design, layout, simulation, testing, bring up and integrations to release and production readiness</p>
                    </li>
                    <li><p>Contribute to the electrical and system architecture and specifications. Define and drive processes, methods and tools as needed
                    </p></li>
                    <li><p>Closely work and align with engineering, testing, and manufacturing teams and partners in development and integration of your designs into coherent sub-systems
                    </p></li>
                </ul>


            </div>
            <div class="col-md-4 p-4 apply-job">
                <h3>APPLY NOW  ></h3>
                <div class="socials pt-3 pb-5">
                    <a href="#" class="share"><i class="fa-solid fa-share-nodes"></i><span>share</span></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <div class="box-container pl-3">
                    <div class="boxes p-4">
                        <h5>Related Jobs</h5>
                    <div class="box-1">
                        <h4>BrightDrop - Electrical Engineer</h4>
                        <span>Palo/Alto Engineering Group</span>
                    </div>
                    <hr>
                    <div class="box-2">
                        <h4>BrightDrop - Senior software Engineer - simulation system </h4>
                        <span>Palo/Alto Engineering Group</span>
                    </div>
                    <hr>
                    <div class="box-3">
                        <h4>BrightDrop - Senior Backend SW Engineer</h4>
                        <span>Palo/Alto Engineering Group</span>
                    </div>
                    <hr>
                    </div>
                </div>
                <p>Must be able to comply with GM’s COVID-19 Vaccination Policy How General Motors Is Making a Difference During COVID-19 (gm.com) unless approved for an exemption from specific policy requirements due to a disability or sincerely held religious beliefs.</p>
            </div>
            <div class="col-md-8 p-4 more-d">
                <h3>Additional Description</h3>
                <span>Required</span>
                <ul>
                    <li>BS degree or higher in Electrical Engineering or other closely related field</li>
                    <li>7+ years of experience designing various electronic modules and systems, and 5+ years of experience designing custom PCBs, with digital and mixed-signal circuits, embedded preferred (Altium or similar)</li>
                    <li>Experience with joint electrical and firmware development, bring up, integrations, and troubleshooting, as well as DfX (manufacturability, testability, serviceability, cost, etc.)</li>
                    <li>Strong electrical foundations: power, analog and digital signals and circuit understanding, common communications, power & signal integrity, EMI/ESD, grounding, shielding</li>
                    <li>Hands-on approach and experience, can-do attitude, active and driven, with strong sense of ownership. Ability to work in a fast-paced environment, ambiguity, and frequently changing requirements</li>
                    <li>Independent, can define and maintain schedule, prioritize tasks, actively pursue input from others, get things done</li>
                </ul>
                <span>Desired</span>
                <ul>
                    <li>Experience with embedded SW, FW, or logic design</li>
                    <li>Experience with motion or robotics control and communications</li>
                    <li>Experience with DC power management and distribution design, including battery, charging, etc.</li>
                    <li>Experience with peripheral HW such as cameras, sensors, actuators, switches, etc.</li>
                    <li>Familiarity with system engineering concepts, considerations, methods, and tools</li>
                    <li>Familiarity with manufacturing process, and with electronic certifications and regulations</li>
                </ul>
                <h3>About GM</h3>
                <p>Our vision is a world with Zero Crashes, Zero Emissions and Zero Congestion and we embrace the responsibility to lead the change that will make our world better, safer and more equitable for all.</p>
                <h3>Why Join Us</h3>
                <p>We aspire to be the most inclusive company in the world. We believe we all must make a choice every day – individually and collectively – to drive meaningful change through our words, our deeds and our culture. Our Work Appropriately philosophy supports our foundation of inclusion and provides employees the flexibility to work where they can have the greatest impact on achieving our goals, dependent on role needs. Every day, we want every employee, no matter their background, ethnicity, preferences, or location, to feel they belong to one General Motors team.</p>
                <h3>Benefits Overview</h3>
                <p>The goal of the General Motors total rewards program is to support the health and well-being of you and your family. Our comprehensive compensation plan incudes, the following benefits, in addition to many others:</p>
                <ul>
                    <li> Paid time off including vacation days, holidays, and parental leave for mothers, fathers and adoptive parents;</li>
                    <li>Healthcare (including a triple tax advantaged health savings account and wellness incentive), dental, vision and life insurance plans to cover you and your family;</li>
                    <li>Company and matching contributions to 401K savings plan to help you save for retirement;</li>
                    <li>Global recognition program for peers and leaders to recognize and be recognized for results and behaviors that reflect our company values; </li>
                    <li>Tuition assistance and student loan refinancing;</li>
                    <li> Discount on GM vehicles for you, your family and friends.</li>
                </ul>
                <h3>Diversity Information</h3>
                <p>General Motors is committed to being a workplace that is not only free of discrimination, but one that genuinely fosters inclusion and belonging. We strongly believe that workforce diversity creates an environment in which our employees can thrive and develop better products for our customers.   We understand and embrace the variety through which people gain experiences whether through professional, personal, educational, or volunteer opportunities. GM is proud to be an equal opportunity employer.</p>
                <p>We encourage interested candidates to review the key responsibilities and qualifications and apply for any positions that match your skills and capabilities.</p>
                <h3>Equal Employment Opportunity Statements</h3>
                <p>The policy of General Motors is to extend opportunities to qualified applicants and employees on an equal basis regardless of an individual's age, race, color, sex, religion, national origin, disability, sexual orientation, gender identity/expression or veteran status. Additionally, General Motors is committed to being an Equal Employment Opportunity (EEO) Employer and offers opportunities to all job seekers including individuals with disabilities. If you need a reasonable accommodation to assist with your job search or application for employment, email us at Careers.Accommodations@GM.com or call us at 800-865-7580. In your email, please include a description of the specific accommodation you are requesting as well as the job title and requisition number of the position for which you are applying.</p>
            </div>
        </div>
        <div class="row footer">
            <div class="col-md-12 p-5">
                <div class="logo-image">
                    <img src="./assets/images/logo.jpg" alt="">
                </div>
            </div>
            <div class="col-md-8 pb-3">
                <div class="row lists">
                    <div class="col-md-3">
                        <ul>
                            <li>Gm.com</li>
                        <li>Dealers & suppliers</li>
                        <li>Contac Us</li>
                        <li>Privacy</li>
                        <li>Suppy Chain Responsibility</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>FAQs</li>
                            <li>Press Room</li>
                            <li>Accessibility & Equal Opportunity Employer</li>
                            <li>Recuriment Scam Alert</li>
                            <li>Diversity & inclusion</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>Investors</li>
                        <li>Sitemap</li>
                        <li>User Guidelines</li>
                        <li>Copuright/Trademark</li>
                        <li>People</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 all-socials">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"></a>
            </div>
            <div class="col-md-12 G-M">
                <p>General Motors is committed to being an Equal Employment Opportunity Employer and offers opportunities to all job seekers, including individuals with disabilities. Please visit our Accessibility page if you need a reasonable accommodation to assist with your job search or application for employment. Only inquiries regarding assistance due to a disability will be returned through the reasonable accommodation process.</p>
            </div>
        </div>

    </div>













    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d96e685c2e.js" crossorigin="anonymous"></script>
</body>
</html>